{
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  },
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "react-intl",
      {
        "extractSourceLocation": true
      }
    ]
  ]
}