extends layout
include mixins

block content
    +dateHeader( bubbles )
    table( width="100%" )
        +userAndDevice( bubbles )
        +diskStatus( bubbles )
        +waterLevelMonitoredSensorRow( bubbles[0].waterLevel, 'Water Level' )
        +atmosphericPressureMonitoredSensorRow( bubbles[0].airPressure, 'Atmospheric Pressure' )
        +proximitySwitchMonitoredSensorRow(bubbles[0].doorStates.CABINET, 'Door')
        +proximitySwitchMonitoredSensorRow(bubbles[0].doorStates.CLOSET, 'Door')
        +temperatureMonitoredSensorRow( bubbles[0].temperatures.CABINETAIRTOP )
        +temperatureMonitoredSensorRow( bubbles[0].temperatures.CABINETAIRMIDDLE )
        +temperatureMonitoredSensorRow( bubbles[0].temperatures.CABINETAIRBOTTOM )
        +humidityMonitoredSensorRow( bubbles[0].relativeHumidity, 'Relative Humidity' )
        +monitoredSensorRow( bubbles[0].pH, 'pH' )
        +distanceMonitoredSensorRow( bubbles[0].lightDistance, 'Distance light/plant' )
        +lightIntensityMonitoredSensorRow( bubbles[0].lightIntensity, 'Light intensity' )
        +airPumpMonitoredDeviceRow( bubbles[0], bubbles[0].airPumpMonitoredDevice )
        +waterPumpMonitoredDeviceRow( bubbles[0], bubbles[0].waterPumpMonitoredDevice )
        +lightMonitoredDeviceRow( bubbles[0], bubbles[0].lightStates.LEDGROWBLOOMING )
        +lightMonitoredDeviceRow( bubbles[0], bubbles[0].lightStates.LEDGROWVEGETATIVE )
        +lightMonitoredDeviceRow( bubbles[0], bubbles[0].lightStates.INCANDESCENTHEATnull )
        +fanMonitoredDeviceRow(bubbles[0], bubbles[0].fans.INLET)
        +fanMonitoredDeviceRow(bubbles[0], bubbles[0].fans.OUTLET)
        +humidifierMonitoredDeviceRow( bubbles[0], bubbles[0].humidifierMonitoredDevice )
        +picture( bubbles )
        +mostRecentEvents( bubbles[0].mostRecentEvents )
