@charset "UTF-8";

@import '../../Palette.css';

.centered-thead-text {
    font-weight: bolder;
    font-size: large;
    text-align: center
}

#settings-tab {
    width: 800px;
}

#localization-table {
    width: 800px;
}
#odor-table {
}
#enclosure-table {
}
#security-table {
}
#humidity-table {
}
#temperature-table {
}
#nutrition-table {
}
#advanced-table {
}

