@charset "UTF-8";

@import '../../Palette.css';

.centered-thead-text {
    font-weight: bolder;
    font-size: large;
    text-align: center
}

.check-selected {
    float: left;
}

#temp-text-input {
    width: 250px;
}

#stages-tab {
    width: 800px;
}

.stage-table {
}

.settings-tab {
    margin-top: 30px;
    width: 800px;
    height: 1000px;
}
