[Unit]
Description=Bubblesnet Web Socket Server

[Service]
ExecStart=/usr/bin/node /home/rodley/controller/server/src/ws-server.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=development
Environment=DEBUG=api-server,edgemeasurement_routes
Environment=LOG_LEVEL=silly
WorkingDirectory=/home/rodley/controller/server

[Install]
WantedBy=multi-user.target