[Unit]
Description=Bubblesnet UI Web Server

[Service]
ExecStart=/home/rodley/controller/client/node_modules/.bin/react-scripts start
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=DEV
WorkingDirectory=/home/rodley/controller/client

[Install]
WantedBy=multi-user.target