[Unit]
Description=Bubblesnet UI Web Server

[Service]
ExecStart=/usr/bin/serve --listen tcp://192.168.21.204:3005 -s build
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=DEV
Environment=DEBUG=api-server,edgemeasurement_routes
Environment=LOG_LEVEL=silly
Environment=PORT=3005
Environment=HOST=0.0.0.0
WorkingDirectory=/home/rodley/controller/client

[Install]
WantedBy=multi-user.target